PORT=1234
GIN_MODE=debug

DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=ecommerce
DB_SSLMODE=disable

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=24h
REFRESH_TOKEN_EXPIRES_IN=72h

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY_ID=test
AWS_S3_BUCKET=uploads
AWS_S3_ENDPOINT=http://localhost:9999

UPLOAD_PATH=./uploads
MAX_UPLOAD_SIZE=10485760 #100MB

COMPANY_DOMAIN=example.com
ADMIN_CODE=example_admin
